---
import AnimateText from "../components/AnimateText.astro";
import Card from "../components/Card.astro";
import ArrowIcon from "../assets/Arrow.svg?raw";

import SectionImage from "../assets/IMG 17.png";
import Resource1Image from "../assets/IMG 18.png";
import Resource2Image from "../assets/IMG 19.png";
import Resource3Image from "../assets/IMG 20.png";
import { Image } from "astro:assets";
---

<section id="opportunity-in-2025" class="bg-white">
  <div class="bg-white">
    <div class="relative h-[200svh]">
      <div class="sticky top-0 flex h-svh flex-col items-center justify-center">
        <h2
          class="text-center text-6xl font-bold leading-tight tracking-tighter text-[#1672F7] md:text-[135px]"
        >
          <AnimateText
            textList={["The Opportunity", "in 2025"]}
            mobileTextList={["The", "Opportunity", "in 2025"]}
          />
        </h2>
      </div>
    </div>
    <section
      class="container mx-auto grid max-w-7xl gap-x-20 px-6 text-black md:grid-cols-2 md:pb-40"
    >
      <div class="row-span-3 h-full w-full rounded-3xl"> 
        <Image src={SectionImage} alt="" class="size-full object-contain" />
      </div>
      <h3 class="sr-only">Today's opportunity</h3>
      <p class="grid gap-y-4 pb-6 text-base 3xl:text-lg">
        <span>
          Today, the world faces a $4 trillion financing gap to achieve the
          Sustainable Development Goals (SDGs). That cannot come from aid alone.
          Most must be raised by the countries themselves. Governments need to
          create more fiscal space, defined by the International Monetary Fund
          (IMF) as the room in a government’s budget to fund national
          priorities, such as education or climate adaptation, without
          jeopardizing the sustainability of its fiscal position or the
          stability of the economy.
        </span>
        <span>
          As the IMF explains, governments can create fiscal space by raising
          taxes, securing outside grants, cutting expenditures, borrowing
          resources (from citizens or foreign lenders), or borrowing from the
          banking system (thereby expanding the money supply).
        </span>
        <span>
          At the same time, governments need to consider who bears the costs of
          reforms. Austerity measures that cut spending to service debts
          typically hit the poorest the hardest, deepening inequality.
        </span>
        <span>
          Negotiations are underway for the Fourth International Financing for
          Development Conference (FfD4) – a once-in-a-decade process guided by
          the United Nations (UN). FfD4 will set the agenda for mobilizing
          funding for today’s pressing development needs through taxation,
          borrowing, and international assistance.
        </span>
      </p>
      <a
        href="#"
        class="group mx-auto flex w-fit mt-6 items-center gap-x-5 rounded-full transition-colors hover:bg-[#1663D2] bg-[#1672F7] p-1 pl-6 text-base text-white md:mx-0"
      >
        <span> More details </span>
        <span
          class="rotate-45 text-[#1672F7] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
        >
          <Fragment set:html={ArrowIcon} />
        </span>
      </a>
    </section>
  </div>

  <section class="md:h-[200svh]">
    <div
      class="sticky top-0 grid place-content-center gap-x-16 gap-y-8 md:h-svh"
    >
      <h3 class="text-center text-5xl font-semibold">
        <AnimateText
          textList={["This can reinforce ongoing", "efforts to:"]}
          mobileTextList={["This can reinforce", " ongoing efforts to:"]}
        />
      </h3>
      <ul class="mx-auto grid max-w-7xl list-none gap-8 px-6 md:grid-cols-3">
        {
          (
            [
              [
                "#",
                "Reform global taxation through a UN Tax Cooperation Framework.",
                Resource1Image,
              ],
              [
                "#",
                "Create new debt restructuring and governance mechanisms.",
                Resource2Image,
              ],
              [
                "#",
                "Demand more transparent and accountable public spending.",
                Resource3Image,
              ],
            ] as [string, string, ImageMetadata][]
          ).map(([href, title, image]) => {
            return <Card href={href} image={image} title={title} />;
          })
        }
      </ul>
    </div>
  </section>
</section>
