---
import AnimateText from "../components/AnimateText.astro";
import WelcomePresentation from "../sections/WelcomePresentation.astro";
import ArrowIcon from "../assets/Arrow.svg?raw";
import Card from "../components/Card.astro";
---

<div class="sticky-parent md:sticky md:top-0 md:-z-[20]">
  <WelcomePresentation />
</div>
<div
  class="sticky top-0 -z-[10] h-[200svh] w-full bg-[#1672F7] text-center text-4xl md:text-[8vh] text-white"
>
  <div class="sticky top-0 grid h-svh place-items-center">
    <h3>
      <AnimateText
        textList={[
          "And yet fiscal fixes can",
          "unlock untold millions more",
          "for development priorities.",
        ]}
        mobileTextList={[
          "And yet fiscal",
          "fixes can unlock",
          "untold millions",
          "more for",
          "development",
          "priorities.",
        ]}
      />
    </h3>
  </div>
</div><section class="bg-[#0128A2]">
  <div class="min-h-[200svh]">
    <div
      class="sticky top-0 mb-36 flex min-h-svh flex-col items-center justify-center py-40 leading-tight tracking-tighter"
    >
      <h2 class="text-center text-6xl font-bold text-[#02B5D1] md:text-[135px]">
        <AnimateText textList={["Welcome to", "The Fiscal Space:"]} mobileTextList={["Welcome to", "THE FISCAL", "SPACE:"]} />
      </h2>
    </div>
  </div>

  <div class="mx-auto grid max-w-7xl gap-x-32 px-6 md:grid-cols-2">
    <div class="row-start-2 size-full rounded-3xl bg-white/20 md:row-start-1">
    </div>
    <div class="grid py-11 text-lg text-white">
      <p class="mb-12">
        It is past time to address the fiscal blindspot and scale up support for
        more sustainable public financing that can better serve development
        needs. In 2025, the 4th International Conference on Financing for
        Development (FfD4) will set the development finance agenda for the next
        decade. Decisions will impact countries’ ability to invest in
        development and climate responses. Thus, TAI set up a Fund Fiscal
        project to increase funders’ investment and engagement in fiscal issues.
        We and focused on philanthropies and support to civil society based on
        given our needs assessment.
      </p>

      <a
        href="#"
        class="mb-5 grid grid-cols-[1fr_auto] items-center rounded-3xl bg-[#1672F7] px-12 py-6 text-2xl font-semibold"
      >
        <span class="block max-w-[25ch] text-pretty">
          4th International Conference on Financing for Development
        </span>
        <div
          class="flex aspect-square h-12 rounded-full text-white *:size-full first:[&_path]:stroke-[#02B4D0] [&_svg]:fill-[#02B4D0]"
        >
          <Fragment set:html={ArrowIcon} />
        </div>
      </a>

      <a
        href="#"
        class="mb-12 grid grid-cols-[1fr_auto] items-center rounded-3xl bg-[#1672F7] px-12 py-6 text-2xl font-semibold"
      >
        <span class="block max-w-[25ch] text-pretty">
          Expanding Funding and Commitment to Transparency and Participation in
          Fiscal Policy
        </span>
        <div
          class="flex aspect-square h-12 rounded-full text-white *:size-full first:[&_path]:stroke-[#02B4D0] [&_svg]:fill-[#02B4D0]"
        >
          <Fragment set:html={ArrowIcon} />
        </div>
      </a>

      <p class="">
        As part of the Fund Fiscal project, the Fiscal Space site is a place for
        fFunders (and others) interested in sectors like climate, education,
        health, and poverty reduction that have increasingly looked to learn
        about fiscal policy as a for long-term solution, including in sectors
        like climate, education, health, and poverty reduction that have
        increasingly lookeds. We seek to:
      </p>

      <ul class="ml-8 mt-6 grid list-disc gap-y-4">
        <li>
          Raise awareness of the importance of investing in fiscal issues,
          including by funders of the Sustainable Development Goals (SDGs).
        </li>
        <li>
          Discuss how funders can use their grants, voice, and other tools.
        </li>
        <li>
          Showcase resources by TAI and other stakeholders on the landscape of
          funding, evidence of impact, case studies, and current news.
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="bg-[#0128A2] md:sticky md:top-0">
  <div class="grid place-content-center gap-16 md:sticky md:top-0 md:h-svh">
    <h3 class="text-center text-4xl font-bold text-white md:text-6xl">
      <AnimateText textList={["Philanthropists on Fiscal"]} />
    </h3>
    <ul class="mx-auto grid max-w-7xl list-none gap-x-8 px-6 md:grid-cols-3">
      {
        [
          [
            "#",
            "#",
            "Debt is dragging down the developing world by Mark Suzman, CEO of the Bill and Melinda Gates Foundation.",
          ],
          [
            "#",
            "#",
            "Why 2025 could be a ‘Bridge year’ for the global south by Kalpana Kochhar.",
          ],
          [
            "#",
            "#",
            "Philanthropy’s tax blind spot by Savior Mwambwa of Open Society Foundations and Michael Jarvis of TAI.",
          ],
        ].map(([href, imageURL, title]) => {
          return <Card href={href} imageURL={imageURL} title={title} />;
        })
      }
    </ul>
  </div>

  <div class="md:h-svh">
    <!-- THIS IS FOR DELAYED SCROLL -->
  </div>
</div>
