---
import { Image } from "astro:assets";
import ArrowIcon from "../assets/Arrow.svg?raw";
interface Props {
  image?: ImageMetadata;
  imageUrl?: string;
  title: string;
  href: string;
}

const { href, title, image, imageUrl } = Astro.props;
---

<li
  class="group overflow-hidden rounded-2xl bg-white shadow-[0px_4px_8.8px_-1px_rgba(0,0,0,0.1)]"
>
  <a
    class="group grid h-full grid-rows-[auto_1fr]"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="aspect-video overflow-hidden bg-[#CDF1F3]">
      {
        image && (
          <Image
            class="size-full object-cover object-center transition-all group-hover:scale-105"
            alt="Welcome to the fiscal space"
            src={image}
          />
        )
      }

      {
        !image && imageUrl && ( 
        <Image
            class="size-full object-cover object-center transition-all group-hover:scale-105"
            alt="Welcome to the fiscal space"
            src={imageUrl}
            inferSize={true}
          />
        )
      }
    </div>
    <div class="flex flex-col items-start justify-between p-7 3xl:p-9">
      <p class="mb-4 text-2xl font-medium">{title}</p>
      <div
        class="flex aspect-square h-12 rounded-full text-white transition-transform *:size-full group-hover:rotate-0 md:rotate-45 [&_svg]:fill-black"
      >
        <Fragment set:html={ArrowIcon} />
      </div>
    </div>
  </a>
</li>
