---
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";
import { Image } from "astro:assets";

import FiscarRealities from "../assets/fiscal-realities.png";
import CountriesStruggling from "../assets/countries-struggling.svg";
import ManagementHelp from "../assets/management-help.svg";
import WhatCanWeDoToday from "../assets/what-can-we-do.svg";
import ArrowIcon from "../assets/Arrow.svg?raw";
import AnimateText from "../components/AnimateText.astro";
---

<section id="welcome-presentation-section">
  <h2 class="sr-only">Welcome to The Fiscal Space</h2>
  <HorizontalScrollContainer
    className="flex w-svw text-[4.92vh] font-bold leading-tight -tracking-[1%] [&_.item]:grid [&_.item]:min-h-svh [&_.item]:min-w-fit [&_.item]:grid-cols-2 [&_.item]:items-center [&_.item]:px-[12.68vw] [&_.item]:before:absolute [&_.item]:before:bottom-[calc(100%_/_6)] [&_.item]:before:-z-50 [&_.item]:before:h-[0.1vh] [&_.item]:before:w-full"
    stickyParent
  >
    <div
      class="line absolute bottom-[calc(100%_/_6)] left-[40vw] h-px bg-[#1672F7]"
    >
    </div>
    <div class="item">
      <div>
        <h3 class="mb-6 max-w-[15ch] text-pretty text-[8vh] leading-tight">
          <AnimateText textList={["Fiscal realities", "matter"]} />
        </h3>
        <p class="max-w-[45ch] text-[2.3vh] font-normal leading-normal">
          A recent report by the Independent Expert Group on Debt, Nature, and
          Climate reveals that many of the world’s 144 developing economies are
          on an unsustainable fiscal trajectory. Countries cannot invest in
          their development and social progress if in fiscal distress.
        </p>

        <a
          href="#"
          class="group mt-10 flex w-fit items-center gap-x-5 rounded-full bg-[#1672F7] p-1 pl-6 text-base text-white"
        >
          <span> More details </span>
          <span
            class="rotate-45 text-[#1672F7] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
          >
            <Fragment set:html={ArrowIcon} />
          </span>
        </a>
      </div>
      <Image
        class="h-2/3 object-contain object-right"
        alt="Care about fiscal space"
        src={FiscarRealities}
      />
    </div>
    <div class="item">
      <div>
        <h3 class="mb-6 max-w-[15ch] text-pretty text-[8vh] leading-tight">
          <AnimateText textList={["Regressive taxes", "harm the poor."]} />
        </h3>
        <p class="max-w-[45ch] text-[2.3vh] font-normal leading-normal">
          Countries need to consider the implications for social equality and
          stability as they raise additional revenues for public investment.
          Regressive taxes harm the poor and destabilize communities. In 2024,
          youth protests in Kenya stopped a Finance Bill that lacked legitimacy.
        </p>

        <a
          href="#"
          class="group mt-10 flex w-fit items-center gap-x-5 rounded-full bg-[#1672F7] p-1 pl-6 text-base text-white"
        >
          <span> More details </span>
          <span
            class="rotate-45 text-[#1672F7] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
          >
            <Fragment set:html={ArrowIcon} />
          </span>
        </a>
      </div>
      <Image
        class="h-2/3 translate-y-[4%] object-contain object-left"
        alt="Countries struggling"
        src={CountriesStruggling}
      />
    </div>
    <div class="item">
      <div>
        <h3 class="mb-6 max-w-[15ch] text-pretty text-[8vh] leading-tight">
          <AnimateText textList={["Debt Crisis Stalls", "Development"]} />
        </h3>
        <p class="max-w-[45ch] text-[2.3vh] font-normal leading-normal">
          Low -and middle- income countries are burdened by trillions of dollars
          of public debt, and the list of those approaching a debt crisis is
          growing fast. Debt payments are eating up the lion’s share of national
          budgets, leaving little for development priorities.
        </p>
      </div>
      <Image
        class="h-2/3 -translate-y-[0.9px]"
        alt="Countries struggling"
        src={ManagementHelp}
      />
    </div>
    <div class="item before:-translate-x-[12.68vw]">
      <div>
        <h3 class="mb-6 max-w-[15ch] text-pretty text-[8vh] leading-tight">
          <AnimateText
            textList={["Philanthropy", "Neglects Fiscal", "Issues"]}
          />
        </h3>
        <p class="max-w-[45ch] text-[2.3vh] font-normal leading-normal">
          These issues are vitally important, but philanthropic investment in
          tax, debt, and accountability is extremely low compared to total
          international grantmaking. The OECD estimates that 40 philanthropies
          spent a total of $11 billion in 2022, but only about $5 million went
          to just one fiscal area, tax-related issues.
        </p>
      </div>
      <Image
        class="h-2/3 -translate-y-3"
        alt="Countries struggling"
        src={WhatCanWeDoToday}
      />
    </div>
  </HorizontalScrollContainer>

  <div class="h-[50svh]">
    <!-- THIS IS FOR DELAYED SCROLL -->
  </div>
</section>

<script>
  import { animate, scroll, inView } from "motion";

  const cleanupFunctions: VoidFunction[] = [];

  initEventListeners();
  document.addEventListener("astro:after-swap", initEventListeners);
  document.addEventListener("astro:before-preparation", () => {
    cleanupFunctions.forEach((fn) => fn());
    cleanupFunctions.length = 0;
  });

  function initEventListeners() {
    const listElements = document.querySelectorAll(
      "#welcome-presentation-section .item"
    ) as NodeListOf<HTMLElement>;

    listElements.forEach((listElement) => {
      listElement.style.opacity = "0";

      const inViewCallback = inView(
        listElement,
        () => {
          animate(
            listElement,
            { opacity: [0, 1], x: [100, 0] },
            { ease: "circInOut" }
          );
        },
        {
          amount: 0.35,
        }
      );
      cleanupFunctions.push(inViewCallback);
    });

    const horizontalScrollContentWrapper = document.querySelector(
      "#welcome-presentation-section .horizontal-scroll-content-wrapper"
    ) as HTMLElement;
    const line = document.querySelector(".line") as HTMLDivElement;

    const scrollCallback = scroll(() => {
      line.style.width = `min(${horizontalScrollContentWrapper.scrollLeft}px + 50vw, ${horizontalScrollContentWrapper.scrollWidth}px - 50vw)`;
    });

    cleanupFunctions.push(scrollCallback);
  }
</script>
